<br />

<div class="booyah-box col-10 offset-1 text-center">
    <h1>Madeline Young</h1>
    <h2>WEB DEVELOPER</h2>
    <hr class="grey"/>
    <p class="bio">
      Madeline is a web developer specializing in various forms of full stack development. She was previously an Exercise Physiologist
      working in Houston, Texas and enjoys spending time with her family. She has a golden doodle named Jillie that is her right hand pup.
    </p>
</div>


