@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Volkhov&display=swap');
@import "font-awesome";


.navbar {
	/*font-family: 'Volkhov', serif;
	font-weight: 200;*/
	box-shadow: 0px 1px 3px #2a2a2a;
	//background: image_url('prisms.png');
}

.navbar-light a.navbar-brand {
	font-family: 'Volkhov', serif;
	font-weight: 100; 
	color: #EDE7DB;
	font-size: 48px;
}

.navbar-light a.navbar-brand:hover {
	color: #E5BE7A;
}

.navbar-light .navbar-nav .nav-link {
	color: #EDE7DB;
	font-family: 'Volkhov', serif;
}

.navbar-toggleable-md .navbar-nav .nav-link:hover {
	color: #24838A
}

.hero {
	background: image_url('hero.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 450px;
	box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
	margin: 0;
}

.frosty {
	background: rgba(0, 0, 0, 0.5);
	color: #EDE7DB;
}

.frosty h1 {
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 100;
	text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
	color: #EDE7DB
}

.frosty h2 {
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 200;
	text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
	color: #EDE7DB
}

.btn {
	border-radius: 0;
	background-color: #24838A;
	border-color: darkslategrey;
	font-family: 'Volkhov', serif;
	color: #E5BE7A;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn {
	color: black;
	background-color: #E5BE7A;
	border-color: #E5BE7A;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

h3 {
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 200;
	color: #EDE7DB;
}

body {
	background: image_url("gray_sand.png");
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.alert-info {
	font-family: 'Volkhov', serif;
	background-color: #24838A;
	max-width: fit-content;
	color: #E5BE7A;
	border-color: #24838A;
	margin-inline-start: auto;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #EDE7DB;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  color: darkslategrey;
  padding: 10px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

a {
	color: #24838A;
	font-family: 'Volkhov', serif
}

a:hover {
	color: darkslategrey;
}
.navbar-toggler {
	background: #24838A;
}
 
.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin : 10px;
}

.col-sm-8 {
	font-size: large;
}

.clr {
	clear: both;
}

.badge {
	font-size: 90%
	/*color: beige;*/
}

.badge-default {
	background-color: #24838A;
	}
.lesson {
  background: #24838A;
  margin-top: 10px;
  height: 100px;
}

.img {
  vertical-align: text-bottom;
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

.lesson a {
  color: #E5BE7A;
  font-size: 25px;
  font-family: 'Volkhov', serif;
}



//b, strong {
//  font-size: 25px;
//  font-family: 'Volkhov', serif;
//}

.lesson a b {
  font-weight: 100;
  font-size: 25px;
}


.badge-info {
  background: #E5BE7A;
  color: #24838A;
  font-family: 'Volkhov', serif;
}

ul {
  list-style-type: none;
}

.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  margin: 20px;
}

ul .header {
  font-size: 25px;
}

ul .header .fa {
  font-size: 20px;
}

.lessons li {
  background: lightgrey;
  color: darkslategrey;
  margin: 10px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  padding: 8px;
  font-size: 15px;
}

.lessons li b {
  font-size: 25px;
  font-weight: 100;
}

.lessons li p {
  margin: 0;
}